<!--
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Testing Phase</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
<ion-slides pager="true" [options]="slideOpts">
  <ion-slide *ngFor="let item of items.data">
  <ion-card-content padding>
    <ion-card >  
      <img [src]="item.news_pics"/>
      <ion-card-content>
        <ion-card-title>
          {{item.heading}}
        </ion-card-title>
        <p>
          {{item.news_content}}
        </p>
      </ion-card-content>
    </ion-card> 
</ion-card-content>
</ion-slide>
</ion-slides>  -->
<head>
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<div class=screen>
<ion-slides pager="false" [options]="slideOpts">
  <ion-slide *ngFor="let item of items">
  <ion-card class="ion-no-margin">
   <!-- <ion-img [src]="item.news_pics"></ion-img> -->
    <div class=image [style.backgroundImage]="'url(' + item.news_pics + ')'"></div>
<div class="heading">
     {{ item.heading }}
</div>
<div class=ion_content>
    <div class=newstype>
     {{ item.news_type }} / {{item.last_updated | date: 'dd-MM-yyyy'}}
    </div>
    <div class=content>
     {{ item.news_content }}
    </div>
    </div>
  </ion-card>
  </ion-slide>
  </ion-slides>
</div>



